{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Bairro{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="content">

    <h5 style="margin-top: 30px; margin-left: 40px;"> Veja aqui os dados dos Bairros:</h5>
    <div class="card" style="margin-left: 80px; margin-right: 80px; height: 430px; margin-top: 20px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
        <div class="card-body">
            <table class="table table-striped" style="margin-top: -19px; height: 390px;">
                <thead>
                    <tr>
                        <th scope="col"style="text-align: center;">Bairros</th>
                        <th scope="col"style="text-align: center;">Min</th>
                        <th scope="col"style="text-align: center;">Max</th>
                        <th scope="col"style="text-align: center;">Média</th>
                        <th scope="col"style="text-align: center;">Moradores</th>
                        <th scope="col"style="text-align: center;">Habitantes Total</th>
                        <th scope="col"style="text-align: center;">Renda Média por Morador</th>
                        <th scope="col"style="text-align: center;">Renda Média Familiar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bairros in bairro %}
                    <tr>
                        <td style="width: 210px;">{{bairros.Bairros}}</td>
                        <td style="text-align: center;">{{bairros.Min}}</td>
                        <td style="text-align: center;">{{bairros.Max}}</td>
                        <td style="text-align: center;">{{bairros.Media}}</td>
                        <td style="text-align: center;">{{bairros.Moradores}}</td>
                        <td style="text-align: center;">{{bairros.HabitantesTotal}}</td>
                        <td style="text-align: center;">{{bairros.RendaMediapormorador}}</td>
                        <td style="text-align: center;">{{bairros.RendaMediaFamiliar}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="footer" style="margin-bottom: 10px;">
                <div class="pagination" style="margin-left: 530px; margin-top: 10px; position:static;">
                    <span class="step-links">
                        {% if bairro.has_previous %}
                        <a href="?page={{ bairro.previous_page_number }}"><i class="fas fa-arrow-left" style="color: #001b5a;"></i></a>
                        {% endif %}
    
                        <span class="current"style="margin-left: 5px; margin-right: 5px;">
                            {{ bairro.number }} de {{ bairro.paginator.num_pages }}
                        </span>
    
                        {% if bairro.has_next %}
                        <a href="?page={{ bairro.next_page_number }}"><i class="fas fa-arrow-right" style="color: #001b5a;"></i></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            
        </div>
    </div>


</div>





{% endif %}

{% endblock %}