{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<body>
    <div class="content">

        <center>
            <div class="card" style="border:none; margin-top: 10px;">
                <div class="card-body">
                    <span style="font-size: 20px; font-weight: normal;"> BOLETINS </span>
                    <hr class="rounded" style="width: 300px; color: #001b5a;">
                </div>
            </div>
        </center>

        <div class="form-row" style="margin-top: 10px;">
            <div class="col-md-3">
                <div class="card"
                    style="background-color: #001b5a; border-radius: 20px; height: 60px; margin-left: 10px;">
                    <div class="card-body" style="color: white; margin-top: -10px;">
                        <center> Cadastro Geral de Empregados e Desempregados - CAGED </center>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"
                    style="background-color: #001b5a; border-radius: 20px; height: 60px; margin-left: 8px;">
                    <div class="card-body" style="color: white; margin-top: -10px;">
                        <center> Ministério da Indústria, Comércio Exterior e Serviço - MDIC</center>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"
                    style="background-color: #001b5a; border-radius: 20px; height: 60px; margin-left: 8px;">
                    <div class="card-body" style="color: white;">
                        <center> Banco Central do Brasil - BC </center>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"
                    style="background-color: #001b5a; border-radius: 20px; height: 60px; margin-left: 8px; margin-right: 5px;">
                    <div class="card-body" style="color: white; margin-top: -10px;">
                        <center> Federação Nacional da Distribuição de Veículos Automotores - FENABRAVE </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">

            <!-- BOLETIM CAGED -->
            <div class="col-md-3">
                <div class="card" style="width: 250px; margin-left: 40px; margin-top: 10px;">
                    <div class="card-body">
                        <center>
                            <dl>
                                <dd> Boletim - Janeiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;" ></dd>
                                <dd> Boletim - Fevereiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Março de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Abril de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Maio de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Junho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Julho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Agosto de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;">   </dd>
                            </dl>
                        </center>
                       
                    </div>
                </div>
            </div>

            <!-- BOLETIM MDIC -->
            <div class="col-md-3">
                <div class="card" style="width: 250px; margin-left: 40px; margin-top: 10px;">
                    <div class="card-body">
                        <center>
                            <dl>
                                <dd> Boletim - Janeiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;" ></dd>
                                <dd> Boletim - Fevereiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Março de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Abril de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Maio de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Junho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Julho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Agosto de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;">   </dd>
                            </dl>
                        </center>
                       
                    </div>
                </div>
            </div>
            <!-- BOLETIM BC -->
            <div class="col-md-3">
                <div class="card" style="width: 250px; margin-left: 40px; margin-top: 10px;">
                    <div class="card-body">
                        <center>
                            <dl>
                                <dd> Boletim - Janeiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;" ></dd>
                                <dd> Boletim - Fevereiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Março de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Abril de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Maio de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Junho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Julho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Agosto de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;">   </dd>
                            </dl>
                        </center>
                       
                    </div>
                </div>
            </div>

            <!-- BOLETIM FENABRAVE -->
            <div class="col-md-3">
                <div class="card" style="width: 250px; margin-left: 40px; margin-top: 10px;">
                    <div class="card-body">
                        <center>
                            <dl>
                                <dd> Boletim - Janeiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;" ></dd>
                                <dd> Boletim - Fevereiro de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Março de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Abril de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Maio de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Junho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Julho de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;"></dd>
                                <dd> Boletim - Agosto de 2021 <img src="{% static 'img/download.png' %}" style="width: 15px; margin-left: 10px;">   </dd>
                            </dl>
                        </center>
                       
                    </div>
                </div>
            </div>
        </div>





    </div>

</body>




{% endif %}
{% endblock %}