{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Consumo{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="content">

    <h5 style="margin-top: 30px; margin-left: 40px;"> Veja aqui os dados de Consumo:</h5>
    <div class="card" style="margin-left: 80px; margin-right: 80px; height: 420px; margin-top: 20px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
        <div class="card-body">
            <table class="table table-striped" style="margin-top: -19px; height: 385px;">
                <thead>
                    <tr>
                        <th scope="col"style="text-align: center;">Tipo</th>
                        <th scope="col"style="text-align: center;">Classe</th>
                        <th scope="col"style="text-align: center;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumos in consumo %}
                    <tr>
                        <td style="text-align: center; width: 200px;">{{consumos.TIPO}}</td>
                        <td style="text-align: center; width: 200px;">{{consumos.CLASSE}}</td>
                        <td style="text-align: center; width: 200px;">{{consumos.VALOR}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
           
        </div>
        <div class="footer">
            <div class="pagination" style="margin-left: 550px; margin-bottom: 10px;">
                <span class="step-links">
                    {% if consumo.has_previous %}
                    <a href="?page={{ consumo.previous_page_number }}"><i class="fas fa-arrow-left"style="color: #001b5a;"></i></a>
                    {% endif %}
        
                    <span class="current" style="margin-left: 5px; margin-right: 5px;">
                        {{ consumo.number }} de {{ consumo.paginator.num_pages }}
                    </span>
        
                    {% if consumo.has_next %}
                    <a href="?page={{ consumo.next_page_number }}"><i class="fas fa-arrow-right"style="color: #001b5a;"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    

</div>



{% endif %}

{% endblock %}