{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<body>
    <div class="content">
        <h5 style="margin-left: 50px; margin-top: 30px; color: #585858; margin-left: 90px;">Escolha os dados que você
            deseja ver:</h5>

        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-9">
                    <center>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                            style="width: 200px; height: 40px; background-color: #001b5a; border: #001b5a; border-radius: 15px; font-size: large;">Consumidores
                        </button>
                    </center>
                </div>
                <div class="col-md-1" style="margin-left: -300px;">
                    <center>
                        <button type="button" class="btn btn-primary"
                            style="width: 200px; height: 40px; background-color: #001b5a; border: #001b5a; border-radius: 15px; font-size: large;">Empresas</button>
                    </center>
                </div>
            </div>

        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="border: none;">
                <div class="form-row">

                    <div class="col" style="margin-left: 290px;">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"
                            style="width: 200px; height: 40px; background-color: #001b5a; border: #001b5a; border-radius: 15px; font-size: large;">Bairros
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample2"
                            style="width: 200px; height: 40px; background-color: #001b5a; border: #001b5a; border-radius: 15px; font-size: large;">Consumo
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body" style="margin-left: 80px; margin-right: 80px; height: 300px;">

            </div>
        </div>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body" style="margin-left: 80px; margin-right: 80px; height: 300px;">

            </div>
        </div>

    </div>

</body>




{% endif %}
{% endblock %}