{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Empresas{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="content" style="margin-right: 80px;">

    <h5 style="margin-top: 25px; margin-left: 40px;"> Veja aqui os dados das Empresas:</h5>
    <div class="card" style="margin-left: 80px; height: 430px; margin-top: 15px;">
        <div class="card-body">
            <table class="table table-striped" style=" height: 430px; margin-top: -19px; margin-bottom: -16px;">
                <thead>
                    <tr>
                        <th scope="col"style="text-align: center;">Razão Social</th>
                        <th scope="col"style="text-align: center;">CNPJ</th>
                        <th scope="col"style="text-align: center;">Atividade Econômica CNAE</th>
                        <th scope="col"style="text-align: center;">Porte</th>
                        <th scope="col"style="text-align: center;">Endereço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresas in empresa %}
                    <tr>
                        <td style="width: 300px;">{{empresas.Razao}}</td>
                        <td>{{empresas.CNPJ}}</td>
                        <td>{{empresas.ATIVIDADE}}</td>
                        <td>{{empresas.PORTE}}</td>
                        <td>{{empresas.Endereco}}</td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
        
    </div>

    <div class="pagination" style="margin-left: 610px;margin-top: 10px;">
        <span class="step-links">
            {% if empresa.has_previous %}
            <a href="?page={{ empresa.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            <span class="current">
                {{ empresa.number }} de {{ empresa.paginator.num_pages }}
            </span>

            {% if empresa.has_next %}
            <a href="?page={{ empresa.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>



</div>



{% endif %}

{% endblock %}