{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<body>
    <div class="content">
        <center>
            <div class="card" style="border-radius: 30px; width: 550px; margin-top: 15px; height: 100px;">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-9" style="margin-top: 0px;">
                            <span style="font-size: 20px;"> Seja bem vindo, associado!</span><span
                                style="font-size: 18px; margin-top: 10px; color:#585858;"> Se este é o seu
                                primeiro acesso, veja o nosso vídeo explicativo.</span>
                        </div>
                        <div class="col-md-2" style="margin-left: 10px;">
                            <a href="{% url 'tutoriaispalestras' %}"><img src="{% static 'img/play-button.png' %}"
                                    style="width: 70px; height: 70px; margin-left: 20px; margin-top: -7px;"></a>
                        </div>
                    </div>

                </div>
            </div>
        </center>
        <h5 style="margin-left: 50px; margin-top: 15px; color: #585858;">Confira as notícias mais recentes da economia francana:</h5>
        <center>
            <div class="card"
                style="border-radius: 30px; margin-left: 30px; margin-right: 30px; width: 1200px; height: 350px; overflow-y: scroll;">
                <div class="card-body">
                    <div class="form-row">

                        <!-- COLUNA ESQUERDA -->

                        <div class="col-md-6">
                            <div class="card" style="border: none;">
                                <div class="form-row">
                                    <div class="col-md-6" style="margin-left: -20px;">
                                        <img src="{% static 'img/mercado.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px;">
                                        <img src="{% static 'img/blog_futuroonline.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px; margin-top: 25px;">
                                        <img src="{% static 'img/mercado.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px; margin-top: 25px;">
                                    </div>
                                    <div class="col-md-6" style="margin-left: -10px;">
                                        <div class="card" style="border: none">
                                            {% for home in homes %}
                                           <span style="font-size: 18px; text-align: justify;">{{home.title}}</span>
                                            <span style="font-size: 14px; text-align: justify;">{{home.description}}</span>
                                            <span style="font-size: 14px; text-align: justify;"></span>
                                            {% endfor %}
                                        </div>
                                        <div class="card" style="border: none; margin-top: 40px;">
                                            <span style="font-size: 18px; text-align: justify;">IE-ACIF revela: Comércio
                                                contrata e diminui saldo negativo de empregos.</span>
                                            <span style="font-size: 14px; text-align: justify;">Segundo um levantamento
                                                do IE-ACIF, o setor de Comércio foi o que mais empregou....</span>
                                        </div>
                                        <div class="card" style="border: none; margin-top: 30px;">
                                            <span style="font-size: 18px; text-align: justify;">No "Dia do Comerciante"
                                                ACIF
                                                traça perfil do setor em Franca.</span>
                                            <span style="font-size: 14px; text-align: justify;">Levantamento do
                                                Instituto de
                                                Economia da ACIF mostra ranking dos bairros
                                                com maior número de empresas...</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- COLUNA DIREITA -->

                        <div class="col-md-6">
                            <div class="card" style="border: none;">
                                <div class="form-row">
                                    <div class="col-md-6" style="margin-left: -20px;">
                                        <img src="{% static 'img/cafe.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px;">
                                        <img src="{% static 'img/empreg.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px; margin-top: 25px;">
                                        <img src="{% static 'img/cafe.jpg' %}"
                                            style="width: 235px; height: 135px; border-radius: 30px; margin-top: 25px;">
                                    </div>
                                    <div class="col-md-6" style="margin-left: -10px;">
                                        <div class="card" style="border: none">
                                            <span style="font-size: 18px; text-align: justify;">Café ultrapassa calçados
                                                em exportações.</span>
                                            <span style="font-size: 14px; text-align: justify;">De acordo com o IE-ACIF
                                                e o DNI-ACIF, pela primeira vez na série histórica do Ministério da
                                                Economia, o calçado não foi o produto mais exportado pela cidade de
                                                Franca.</span>
                                        </div>
                                        <div class="card" style="border: none; margin-top: 30px;">
                                            <span style="font-size: 18px; text-align: justify;">ACIF é parceira da
                                                iniciativa municipal "Emprega Franca"</span>
                                            <span style="font-size: 14px; text-align: justify;">A ACIF firmou parceira
                                                com o município e será uma das instituições integrantes do Emprega
                                                Franca.</span>
                                        </div>
                                        <div class="card" style="border: none; margin-top: 35px;">
                                            <span style="font-size: 18px; text-align: justify;">Café ultrapassa calçados
                                                em exportações.</span>
                                            <span style="font-size: 14px; text-align: justify;">De acordo com o IE-ACIF
                                                e o DNI-ACIF, pela primeira vez na série histórica do Ministério da
                                                Economia, o calçado não foi o produto mais exportado pela cidade de
                                                Franca.</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </center>




    </div>
</body>




{% endif %}
{% endblock %}