{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<body>
    <div class="content">
        <center>
            <div class="card" style="border:none; margin-top: 10px;">
                <div class="card-body">
                    <span style="font-size: 20px;"> PESQUISAS</span>
                    <hr class="rounded" style="width: 300px; color: #001b5a;">
                </div>
            </div>
        </center>
        <h5 style="margin-left: 50px; margin-top: 10px; color: #585858; margin-bottom: 10px;">Veja aqui pesquisas já realizadas pelo
            Instituto de Economia:</h5>
        <center>
            <div class="card"
                style="border-radius: 30px; margin-left: 30px; margin-right: 30px; width: 1200px; height: 350px; overflow-y: scroll;">
                <div class="card-body">
                    <div class="row">
                        {% for pesquisa in pesquisas %}
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <img src="{% static 'img/mercado.jpg' %}"
                                        style="width: 235px; height: 135px; border-radius: 30px; margin-top: 5px;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-title" style="text-align:left;">
                                        {{pesquisa.title}}
                                    </div>
                                    <div class="card-body" style="text-align:justify">
                                        {{pesquisa.description}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </center>













    </div>

</body>




{% endif %}
{% endblock %}