{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<style>
    .rotate90 {
        transform: rotate(90deg);
        width: 30px;
        height: 60px;
    }
</style>

<body>
    <div class="content">
        <h5 style="margin-top: 30px; color: #585858; margin-left: 90px;">Escolha o que você
            deseja ver:</h5>

        <div class="col-md-12">
            <div class="form-row" style="margin-top: -10px;">
                <div class="col-md-9">
                    <center><button type="button" class="btn btn-primary" style="width: 200px; height: 40px; background-color: #001b5a; 
                            border: #001b5a; border-radius: 15px; font-size: large;">Tutoriais</button>
                    </center>
                </div>
                <div class="col-md-1" style="margin-left: -300px;">
                    <center>
                        <button type="button" class="btn btn-primary" style="width: 200px; height: 40px; background-color: #ab1111; 
                            border: #ab1111; border-radius: 15px; font-size: large;">Palestras</button>
                    </center>
                </div>
            </div>

            <div class="card" style="margin-left: 180px; margin-right: 180px; margin-top: 20px; padding-bottom: 30px;">
                {% for tp in tps %}
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/video.jpg' %}"
                            style="width: 280px; height: 160px; margin-left: 30px; margin-top: 10px;">
                    </div>
                    <div class="col-md-7" style="margin-top: 20px;">

                        <p style="font-size: larger;">{{tp.title}}</p>
                        <p style="font-size: larger;">{{tp.description}}</p>

                        
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

</body>




{% endif %}
{% endblock %}